/* Variables */
@charset 'UTF-8';

/// @group    Configurações

$colors: (
  primary: (
    lighter: #501BE0,
    base: #1BACE0,
    darken: #2954CC,
  ),
  secondary: (
    base: #FFFF0A,
  ),
  tertiary: (
    base: #5ACC5A,
  ),
  light: (
    lighter: #fff,
    base: #F1F4F5,
  ),
  dark: (
    base: #212121,
  ),
  danger      : #CC1833,
  success     : #5ACC5A,
  warning     : #FFFF0A,

) !default;

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir-Regular.eot');
    src: url('../fonts/Agrandir-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Agrandir-Regular.woff2') format('woff2'),
        url('../fonts/Agrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir-Italic.eot');
    src: url('../fonts/Agrandir-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Agrandir-Italic.woff2') format('woff2'),
        url('../fonts/Agrandir-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir-TextBold.eot');
    src: url('../fonts/Agrandir-TextBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Agrandir-TextBold.woff2') format('woff2'),
        url('../fonts/Agrandir-TextBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}


@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Tight.eot');
  src: url('../fonts/Agrandir-Tight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-Tight.woff2') format('woff2'),
      url('../fonts/Agrandir-Tight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-TightBlack.eot');
  src: url('../fonts/Agrandir-TightBlack.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-TightBlack.woff2') format('woff2'),
      url('../fonts/Agrandir-TightBlack.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Narrow.eot');
  src: url('../fonts/Agrandir-Narrow.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-Narrow.woff2') format('woff2'),
      url('../fonts/Agrandir-Narrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-stretch: narrower;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-NarrowBold.eot');
  src: url('../fonts/Agrandir-NarrowBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-NarrowBold.woff2') format('woff2'),
      url('../fonts/Agrandir-NarrowBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-stretch: narrower;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Wide.eot');
  src: url('../fonts/Agrandir-Wide.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-Wide.woff2') format('woff2'),
      url('../fonts/Agrandir-Wide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-stretch: semi-expanded;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-WideBold.eot');
  src: url('../fonts/Agrandir-WideBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-WideBold.woff2') format('woff2'),
      url('../fonts/Agrandir-WideBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-stretch: semi-expanded;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Grand.eot');
  src: url('../fonts/Agrandir-Grand.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-Grand.woff2') format('woff2'),
      url('../fonts/Agrandir-Grand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-stretch: ultra-expanded;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-GrandHeavy.eot');
  src: url('../fonts/Agrandir-GrandHeavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agrandir-GrandHeavy.woff2') format('woff2'),
      url('../fonts/Agrandir-GrandHeavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-stretch: ultra-expanded;
}


/// @group    Fontes

$font-config: (
  base: (
    name: 'Agrandir',
    weight: 400,
    stretch: normal,
  ),
  bold: (
    name: 'Agrandir',
    weight: bold,
    stretch: normal,
  ),
  condensed: (
    name: 'Agrandir',
    weight: 400,
    stretch: condensed,
  ),
  condensedBold: (
    name: 'Agrandir',
    weight: bold,
    stretch: condensed
  ),
  narrower: (
    name: 'Agrandir',
    weight: 400,
    stretch: narrower,
  ),
  narrowerBold: (
    name: 'Agrandir',
    weight: bold,
    stretch: narrower,
  ),
  semiExpanded: (
    name: 'Agrandir',
    weight: bold,
    stretch: semi-expanded,
  ),
  semiExpandedBold: (
    name: 'Agrandir',
    weight: bolder,
    stretch: semi-expanded,
  ),
  ultraExpanded: (
    name: 'Agrandir',
    weight: 400,
    stretch: ultra-expanded,
  ),
  ultraExpandedBold: (
    name: 'Agrandir',
    weight: bold,
    stretch: ultra-expanded,
  )
) !default;

$font-fallback: Tahoma, Verdana, Segoe, sans-serif !default;

/// @group    Fontes
$font-sizes: (
  xxxxbig		:	  56px,
  xxxbig		:	  48px,
  xxbig		  :	  36px,
  xbig		  :	  32px,
  big		    :	  24px,
  large		  :	  18px,
  medium		:	  16px,
  normal		:	  14px,
  small		  :	  12px,
) !default;

/// @group    Breakpoints
$breakpoints: (
  xsmall  : 375px,
  small   : 641px,
  medium  : 769px,
  large   : 1279px,
  xlarge  : 1367px,
  xxlarge : 1441px,
  xxxlarge: 1921px
) !default;

/// @group Spaces
$spaces: (
  s       :     4px,
  p       :     8px,
  base    :     16px,
  m       :     24px,
  g       :     32px,
  gg      :     48px,
  xg      :     56px
) !default;
