section {
    .sectionTitle {
        span {
            @include font(bold);

            display: inline-block;
            padding: space(s) space(p);

            font-size: font-size(medium);
            text-transform: uppercase;
            color: color(primary);

            background-color: color(secondary);
        }
    }

    &#home {
        @include responsive(large) {
            align-items: center;
            padding-top: space(xg);

            background-image: url(../images/img-highight-01.png);
        }

        @include responsive(small) {
            align-items: center;
            padding-top: space(xg);

            background-image: url(../images/img-highight-01.png);
        }

        position: relative;

        display: flex;
        align-items: flex-start;
        min-height: 740px;
        padding-top: space(xg);

        background-image: url(../images/img-highight-mobile-01.png);
        background-size: cover;
        background-position: top center;

        &:before {
            @include generated-content(100%, 100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            background: linear-gradient(102.68deg, #212121 14.23%, rgba(33, 33, 33, 0) 79.77%);
            mix-blend-mode: multiply;
        }

        .highlight-text {
            @include responsive(large) {
                margin: inherit;
                width: 570px;
                height: 300px;

                text-align: left;
            }

            position: relative;
            z-index: 2;

            width: 100%;
            height: auto;
            margin: space(g) 0 0;

            color: color(light);
            text-align: center;

            h2 {
                @include responsive(large) {
                    font-size: font-size(xxxxbig);
                }
                @include font(semiExpanded);

                font-size: font-size(xxbig);
                line-height: 1;
                letter-spacing: 0.02em;

                + p {
                    margin-top: space(m);

                    font-size: font-size(large);
                    line-height: 1;
                }
            }
        }
    }

    &#bio {
        @include responsive(large) {
            text-align: left;
        }

        text-align: center;

        img {
            @include responsive(large) {
                width: initial;
                height: inherit;
            }

            max-width: 100%;
            width: 100%;
            height: auto;
        }

        h4 {
            @include responsive(large) {
                font-size: font-size(xxbig);
            }

            @include font(semiExpanded);

            position: relative;
            z-index: 1;

            font-size: font-size(xxbig);
            line-height: 1;
            letter-spacing: 0.02em;
            color: color(primary);

            svg {
                @include responsive(large) {
                    top: -85px;
                    right: 85px;
                    transform: scale(.8);
                }

                position: absolute;
                top: -64px;
                right: -26px;
                transform: scale(0.7);
                z-index: -1;

            }
        }
    }

    &#mobiliza {
        .mobilizaContainer {
            @include responsive(large) {
                padding: 0;

                background-image: url(../images/bg-zap.png);
                background-size: cover;

                text-align: left;
            }

            position: relative;

            padding: space(base) space(base) 0;

            color: color(light);
            text-align: center;

            background-color: color(primary);

            svg {
                @include responsive(large) {
                    top: -85px;
                    right: 85px;
                    transform: scale(.8);
                }

                position: absolute;
                top: -64px;
                right: -26px;
                transform: scale(0.7);
                z-index: -1;

            }
        }

        h4 {
            @include responsive(large) {
                font-size: font-size(xxbig);
            }

            @include font(semiExpanded);

            position: relative;
            z-index: 1;

            font-size: font-size(xbig);
            line-height: 1;
            letter-spacing: 0.02em;
        }

        img {
            margin: 0 0 (- space(p));
        }
    }
}