section {
    .sectionTitle {
        span {
            @include font(bold);

            display: inline-block;
            padding: space(s) space(p);

            font-size: font-size(medium);
            text-transform: uppercase;
            color: color(primary);

            background-color: color(secondary);
        }
    }

    &#home {
        @include responsive(large) {
            align-items: center;
            padding-top: space(xg);

            background-image: url(../images/img-highight-01.png);
        }

        @include responsive(small) {
            align-items: center;
            padding-top: space(xg);

            background-image: url(../images/img-highight-01.png);
        }

        position: relative;

        display: flex;
        align-items: flex-start;
        min-height: 740px;
        padding-top: space(xg);

        background-image: url(../images/img-highight-mobile-01.png);
        background-size: cover;
        background-position: top center;

        &:before {
            @include generated-content(100%, 100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            background: linear-gradient(102.68deg, #212121 14.23%, rgba(33, 33, 33, 0) 79.77%);
            mix-blend-mode: multiply;
        }

        .highlight-text {
            @include responsive(large) {
                margin: inherit;
                width: 570px;
                height: 300px;

                text-align: left;
            }

            position: relative;
            z-index: 2;

            width: 100%;
            height: auto;
            margin: space(g) 0 0;

            color: color(light);
            text-align: center;

            h2 {
                @include responsive(large) {
                    font-size: font-size(xxxxbig);
                }
                @include font(semiExpanded);

                font-size: font-size(xxbig);
                line-height: 1;
                letter-spacing: 0.02em;

                + p {
                    margin-top: space(m);

                    font-size: font-size(large);
                    line-height: 1;
                }
            }
        }
    }

    &#bio {
        @include responsive(large) {
            text-align: left;
        }

        text-align: center;

        img {
            @include responsive(large) {
                width: initial;
                height: inherit;
            }

            max-width: 100%;
            width: 100%;
            height: auto;
        }

        h4 {
            @include responsive(large) {
                font-size: font-size(xxbig);
            }

            @include font(semiExpanded);

            position: relative;
            z-index: 1;

            font-size: font-size(xxbig);
            line-height: 1;
            letter-spacing: 0.02em;
            color: color(primary);

            svg {
                @include responsive(large) {
                    top: -85px;
                    right: 85px;
                    transform: scale(.8);
                }

                position: absolute;
                top: -64px;
                right: -26px;
                transform: scale(0.7);
                z-index: -1;

            }
        }
    }

    &#materiais {
        padding: space(m) 0;

        background-color: color(light);

        h4 {
            @include responsive(large) {
                font-size: font-size(xxbig);
            }

            @include font(semiExpanded);

            position: relative;
            z-index: 1;

            margin: 0 0 space(g);

            font-size: font-size(xbig);
            line-height: 1;
            letter-spacing: 0.02em;
            color: color(primary);
        }

        .materialContainer {
            @include responsive(large) {
                flex-flow: wrap;
                overflow: inherit;
            }

            flex-flow: nowrap;
            overflow: auto;
        }

        .materialContent {
            min-width: 320px;
            margin: 0 0 space(g);
            padding: space(gg) space(g);

            background-color: color(light);
            border: 1px solid rgba(33, 33, 33, 0.12);
            border-radius: 2px;

            .icon {
                position: relative;
                display: inline-block;

                &:before {
                    @include generated-content(48px, 48px);

                    position: absolute;
                    top: -10px;
                    right: -10px;
                    z-index: 0;

                    background-color: color(secondary);
                    border-radius: 50%;
                }


                svg {
                    position: relative;
                    z-index: 1;
                }
            }

            h5 {
                @include font(semiExpanded);

                position: relative;
                z-index: 1;

                margin: space(xg) 0 space(m);

                font-size: font-size(big);
                line-height: 1;
                letter-spacing: 0.02em;
                color: color(primary);
            }
        }
    }

    &#mobiliza {
        .mobilizaContainer {
            @include responsive(large) {
                padding: 0;

                background-image: url(../images/bg-zap.png);
                background-size: cover;

                text-align: left;
            }

            position: relative;
            z-index: 0;

            padding: space(base) space(base) 0;

            color: color(light);
            text-align: center;

            background-color: color(primary);

            svg {
                @include responsive(large) {
                    top: -85px;
                    right: -85px;
                    transform: scale(.8);
                }

                position: absolute;
                top: -64px;
                right: -86px;
                transform: scale(0.7);
                z-index: 1;

            }
        }

        h4 {
            @include responsive(large) {
                font-size: font-size(xxbig);
            }

            @include font(semiExpanded);

            position: relative;
            z-index: 1;

            font-size: font-size(xbig);
            line-height: 1;
            letter-spacing: 0.02em;
        }

        img {
            margin: 0 0 (- space(p));
        }
    }

    &#reconhecimentos {
        h4 {
            @include responsive(large) {
                font-size: font-size(xxbig);
            }

            @include font(semiExpanded);

            position: relative;
            z-index: 1;

            margin: 0 0 space(g);

            font-size: font-size(xbig);
            line-height: 1;
            letter-spacing: 0.02em;
            color: color(primary);

            svg {
                @include responsive(large) {
                    top: -45px;
                    right: 220px;
                    transform: scale(0.8);
                }

                position: absolute;
                top: -35px;
                right: -85px;
                transform: scale(0.7);
                z-index: -1;

            }
        }

        .textContainer {
            @include responsive(large) {
                flex-flow: wrap;
                overflow: inherit;
            }

            flex-flow: nowrap;
            overflow: auto;
        }

        .img-fluid {
            min-width: 320px;
        }

        .textContent {
            @include font(semiExpanded);

            min-height: 90px;
            margin: (- space(p)) 0 space(base);
            padding: space(base) space(g);

            background-color: color(light);

            p {
                margin: 0;

                font-size: font-size(large);
                line-height: 1;
                letter-spacing: .5;
                color: color(primary);
            }
        }
    }

    &#propostas {
        margin: 0 0 space(g);

        .propostasContainer {
            padding: space(m) (space(g) * 2) 0;

            background-color: color(primary, darken);
            color: color(light);

            h4 {
                @include responsive(large) {
                    font-size: font-size(xxbig);
                }

                @include font(semiExpanded);

                position: relative;
                z-index: 1;

                margin: 0 0 space(g);

                font-size: font-size(xbig);
                line-height: 1;
                letter-spacing: 0.02em;
                color: color(light);
            }

            .propostasContent {
                @include responsive(large) {
                    margin: 0 0 space(m);
                    padding: space(gg) space(m) space(gg) 0;

                    text-align: left;
                }

                margin: 0;
                padding: space(g) 0;

                color: color(light);
                text-align: center;

                border-top: 1px solid color(primary);

                .icon {
                    position: relative;
                    display: inline-block;

                    &:before {
                        @include generated-content(48px, 48px);

                        position: absolute;
                        top: -10px;
                        right: -10px;
                        z-index: 0;

                        background-color: color(primary);
                        border-radius: 50%;
                    }


                    svg {
                        position: relative;
                        z-index: 1;
                    }
                }

                h5 {
                    @include font(semiExpanded);

                    position: relative;
                    z-index: 1;

                    margin: space(m) 0;

                    font-size: font-size(big);
                    line-height: 1;
                    letter-spacing: 0.02em;
                    color: color(light);
                }
            }
        }

        .planoContainer {
            padding: space(g) (space(g)) 0;

            background-color: color(light);

            h5 {
                @include font(semiExpanded);

                position: relative;
                z-index: 1;

                margin: space(m) 0 space(p);

                font-size: font-size(big);
                line-height: 1;
                letter-spacing: 0.02em;
                color: color(primary);
            }
        }
    }

    &#avaliacoes {
        margin: (space(xg) * 2) 0;

        h4 {
            @include font(semiExpanded);

            position: relative;
            z-index: 1;

            margin: 0 0 space(g);

            font-size: font-size(big);
            line-height: 1;
            letter-spacing: 0.02em;
            color: color(primary);
        }

        .avaliacoesSlider {
            @include font(semiExpanded);
            text-align: center;

            .quote {
                @include responsive(large) {
                    font-size: font-size(xxxbig);
                }

                font-size: font-size(xbig);
                line-height: 1;
                letter-spacing: 0.02em;
                color: color(dark);
            }

            .quoteUser {
                @include responsive(large) {
                    font-size: font-size(big);
                }

                margin: 0;

                font-size: font-size(medium);
                color: color(primary);
            }

            .quotePlace {
                @include responsive(large) {
                    font-size: font-size(large);
                }

                font-size: font-size(normal);
                color: color(dark);
            }

        }

        .numbersContent {
            h5 {
                @include responsive(large) {
                    font-size: font-size(big);
                }

                position: relative;

                font-size: font-size(small);

                &::before {
                    @include generated-content(100%, 2px);

                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;

                    margin: auto 0;

                    background-color: color(light);
                }

                span {
                    @include responsive(large) {
                        padding: space(base) space(xg);
                    }

                    @include font(narrower);

                    position: relative;
                    z-index: 1;

                    padding: space(base);

                    background-color: color(light, lighter);
                    border: 2px solid color(light);

                    font-size: font-size(medium);
                    text-transform: uppercase;

                }
            }

            a {
                font-weight: bold;
                text-decoration: underline;
            }

            .numbersBox {
                border-bottom: 2px solid color(light);

                > div {
                    @include responsive(large) {
                        padding-top: inherit;
                    }

                    padding-top: space(g);
                    &:first-child {
                        @include responsive(large) {
                            padding-top: inherit;

                            border-bottom: none;
                        }
                        position: relative;

                        padding-top: 0;

                        border-bottom: 2px solid color(light);

                        &::before {
                            @include responsive(large) {
                                @include generated-content(2px, 120%);

                                position: absolute;
                                top: -30px;
                                right: 0;

                                background-color: color(light);
                            }
                        }
                    }
                }
            }

            .numbersCount {
                @include responsive(large) {
                    font-size: font-size(xxxxbig);
                }

                @include font(semiExpanded);

                position: relative;
                z-index: 1;

                font-size: font-size(xxbig);
                line-height: 1;
                letter-spacing: 0.02em;
                color: color(primary);

                &::before {
                    @include generated-content(100%, 80%);

                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;

                    margin: auto auto 0;

                    background-color: color(secondary);
                }
            }
        }
    }
}