section {
    .sectionTitle {
        span {
            @include font(bold);

            display: inline-block;
            padding: space(s) space(p);

            font-size: font-size(medium);
            text-transform: uppercase;
            color: color(primary);

            background-color: color(secondary);
        }
    }

    &#home {
        @include responsive(large) {
            align-items: center;
            padding-top: space(xg);

            background-image: url(../images/img-highight-01.png);
        }

        position: relative;

        display: flex;
        align-items: flex-start;
        min-height: 740px;
        padding-top: space(xg);

        background-image: url(../images/img-highight-mobile-01.png);
        background-size: cover;
        background-position: top center;

        &:before {
            @include generated-content(100%, 100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            background: linear-gradient(102.68deg, #212121 14.23%, rgba(33, 33, 33, 0) 79.77%);
            mix-blend-mode: multiply;
        }

        .highlight-text {
            @include responsive(large) {
                margin: inherit;
                width: 570px;
                height: 300px;

                text-align: left;
            }

            position: relative;
            z-index: 2;

            width: 100%;
            height: auto;
            margin: space(g) 0 0;

            color: color(light);
            text-align: center;

            h2 {
                @include responsive(large) {
                    font-size: font-size(xxxxbig);
                }
                @include font(semiExpanded);

                font-size: font-size(xxbig);
                line-height: 1;
                letter-spacing: 0.02em;

                + p {
                    margin-top: space(m);

                    font-size: font-size(large);
                    line-height: 1;
                }
            }
        }
    }
}