h1 {
   @include font(bold);

    font-size: font-size(xxxxbig);
    line-height: 1;
}

h2 {
   @include font(bold);

    font-size: font-size(xxxbig);
    line-height: 1;
}

h3 {
   @include font(bold);

    font-size: font-size(xxxbig);
    line-height: 1;
}

h4 {
   @include font(bold);

    font-size: font-size(xbig);
    line-height: 1;
}

h5 {
   @include font(bold);

    font-size: font-size(big);
    line-height: 1;
}

h6 {
   @include font(bold);

    font-size: font-size(large);
    line-height: 1;
}

p {
    margin: 0 0 space(g);
    font-size: font-size(large);
    line-height: 1.5;
}

hr {}

ul {
    li {}
}

a {
    color: inherit;

    &:hover {
            color: inherit;
            text-decoration: underline;
    }
}

em {
    font-style: italic
}

strong {
    @include font(bold);
}